div#contact-area
      form(method='post',action='')
        p Nombre:
          input(type='text',name='name',id='name',size='15')        
        p Email:
          input(type='text',name='email',id='email',size='15')  
        p Edad:
          input(type='number',name='edad',id='edad',size='10')  
        input(type='submit',name='enviar',value='Enviar').submit-button
